{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="container">
    <div class="contenue_accueil">
        <div class="texte-accueil">
            Depuis 2015, la société « MaxAirain » intervient dans le cadre de la sécurité, du gardiennage, de la
        protection et de la surveillance. Leur mission consiste à assurer la sécurité des activités, déplacements
        et manifestations de leur client.
        </div>
        <div class="image_accueil">
            <img src="{{ asset('image/image_accueil.png') }}" alt="image accueil de MaxAiRain">
        </div>
    </div>
   
    <h2>Liste des agents</h2>

    <div class="container">
        <div class="row">
            {% for info in users %}
    <div class="col-md-4">
        <div class="card">
            {% if info.image is null %}
                <img src="{{ asset('image/avatar.png') }}" class="card-img-top" alt="Image 1">
            {% else %}
                <img src="{{ asset(info.image) }}" class="card-img-top" alt="Image 1">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ info.nom }}</h5>
                <p class="card-text">{{ info.email }}</p>
            </div>
        </div>
    </div>
{% endfor %}

            
        </div>
    </div>

</div>
{% endblock %}
