{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="contenue">
	<div class="contenue_profil">
		<img class="image_profil" src="{{ asset('image/image_teste.jpg') }}" alt="image user mon profile">

		<h1>Mon profil</h1>
		{% if app.user %}
			<p>Nom :  {{ app.user.nom }}</p>
			<p>email : {{ app.user.email}}</p>
		{% endif %}

		<h2>Liste du matériel</h2>

			{% for stock in stocks %}
				<div>
					<input type="checkbox" value="{{ stock.id }}">
					{{ stock.name }}
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}