<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <!--inclure la librairie bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- inclure la feuille de style personnaliser-->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!-- utilisation de la font-family Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{path('accueil')}}">
                <img src="{{ asset('image/logo_MaxAiRain.png') }}" alt="logo de MaxAiRain">
            </a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('accueil')}}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('laSociete')}}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nos agents</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('login')}}">S'identifier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('inscription')}}">S'inscrire</a>
                    </li>
                </ul>
                
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer class="footer bg-dark text-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2023 MaxAirain. Tous droits réservés.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Accueil</a></li>
                            <li class="list-inline-item"><a href="#">À propos</a></li>
                            <li class="list-inline-item"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
